.mybody {
    background-color:azure;
}
.mycard {
    background-color: beige;
}
.mytext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.mydiv {
    background-color: azure;
}
.mycon {
    background-color:rgb(248, 248, 226);
}
.win {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: green;
}
.label {
    font-size: 20px;
}
.loss {
   font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: red; 
}
.linktxt {
    font-size: 20px;
    text-decoration: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* Filter turns the dark icon light/white */
    filter: invert(100%); 
}
.carousel-control-prev,
.carousel-control-next {
    width: 15%; /* Make the clickable area wider */
    background: rgba(0, 0, 0, 0.2); /* Semi-transparent dark background */
    opacity: 1; /* Ensure controls are fully visible */
}