{% extends "journal/layout.html" %}

{% block body %}
    <div class="dashboard">
        Include dashboard
    </div>
    <div class="add_trade">
        <a href="{% url 'add_trade' %}">+Add Trade</a>
    </div>
    <div class="container">
        <h3>Trade details</h3>
        {% for data in info %}
            <img src="{{ data.image.url }}" alt="{{ data.pair }}">
            <p>{{ data.pair }}</p>
            <p>{{ data.profit }}</p>
        {% endfor %}
        
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

{% endblock %}