{% extends "journal/layout.html" %}

{% block body %}
    <div class="mycon">
        <div class="row d-flex">
            <div class="col-4 border-bottom p-3 text-center">
                <h3>Welcome {{ request.user.username }}</h3>
                <div>
                    <a href="{% url 'logout' %}" class="fw-bold text-danger">Logout</a>
                </div>
            </div>
            <div class="col-4 border-bottom p-3 text-center">
                {% if netprofit > 0  %}
                    <p class="fw-bold label">Netprofit</p>
                    <strong class="win"> +{{ netprofit| default:"0.00" }}$</strong>
                {% else %}
                    <p class="fw-bold label">Netprofit</p>
                    <strong class="loss">{{ netprofit| default:"0.00" }}$</strong>
                {% endif %}
            </div>
            <div class="col-4 border-bottom p-3 text-center">
                <p class="label fw-bold">Winrate</p>
                <strong class="win">{{ winrate }}%</strong>
            </div>
        </div>  
    </div>
    
    <div class="container">
        <div class="container-flex">
            <div class="row mt-3 text-end">
                <div class="add_trade">
                    <a href="{% url 'add_trade' %}"><button class="btn btn-primary">Add Trade</button></a>
                </div>
            </div> 
        </div>
        <h3 class="text-center">Your Saved Trades</h3>
        {% for data in info %}
            <div class="row border rounded p-3 mx-4 mb-4 mycard">
                <div class="text-start"> 
                    <div class="mydiv p-2 d-inline-block">
                        <p class="mytext mb-0">Trade {{ data.id }}</p>
                    </div>
                </div>
                
                <div class="col-12 text-center">
                    <div id="carousel-{{ data.pk }}" class="carousel slide" data-bs-ride="carousel" style="max-width: 700px; margin: 0 auto;">
                        <div class="carousel-inner">
                            {% for image in data.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ image.image.url }}" alt="{{ data.pair }}" class="img-fluid rounded-top shadow-lg d-block w-100" style="width: 700px; height: auto;">

                                </div>
                            {% empty %}
                                <p>No images uploaded for this trade.</p>
                            {% endfor %}  
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ data.pk }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ data.pk }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="d-flex justify-content-center align-items-center py-2 border-bottom border-3 mb-2">
                        <h4 class="fw-bold text-primary mx-4">Pair: {{ data.pair }}</h4>
                        {% if data.profit > 0 %}
                            <h4 class="fw-bold text-success">Profit: {{ data.profit }}$</h4>
                        {% else %}
                            <h4 class="fw-bold text-danger">Loss: {{ data.profit }}$</h4>
                        {% endif %}
                        <h4 class="fw-bold text-success mx-4">{{ data.date }}</h4>
                    </div>
                    <h4 class="fw-bold text-primary text-center">Notes</h4>
                    <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, non.</p>
                </div>
            </div>
        {% empty %} 
            <p class="fw-bold text-danger text-center">No Trades Yet</p>
        {% endfor %} 
    </div>

{% endblock %}