{% extends 'journal/layout.html' %}

{% block body %}
    <h1>Create account</h1>
    <div>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% for err in form.username.errors %}
                    <div class="text-danger small">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% for err in form.email.errors %}
                    <div class="text-danger small">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
                {% for err in form.first_name.errors %}
                    <div class="text-danger small">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
                {% for err in form.last_name.errors %}
                    <div class="text-danger small">{{ err }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.accept_terms.label_tag }}
                {{ form.accept_terms }}
                {% for err in form.accept_terms.errors %}
                    <div class="text-danger small">{{ err }}</div>
                {% endfor %}
            </div>

            <button class="btn btn-primary w-100">Register</button>
        </form>
    </div>
{% endblock %}